.top {
    background-color: #1899c9;
    color: #fff;
}

footer {
    text-align: center;
    background-color: #E6E6E6;
    margin-top: 20px;
}

.title-record {
    font-size: 20px;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 2px solid #fc5700;
}

.listbox {
    margin: 0 4%;
}

section {
    width: 250px;
    position: absolute;
    border: 1px solid #CFCFCF;
    border-radius: 6px;
    z-index: 99;
    top: 20%;
    right: 5%;
    background-color: #fff;
    padding: 10px;
}

.box {
	width: 1100px;
	margin: 0 auto;
}

.hide{
	display: none;
}

.sheet{
    width: 95%;
    margin:0 auto;
    padding: 1%;
    border: 1px solid #D4D4D4;
    border-radius: 6px;
}

.domain,.meaning,.price,.end_datetime {
    display: block;
    padding: 5px; 
}
